
#container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    background: #141414;
  }
  
  .sidebar {
    height: 100%;
    background: #222;
    display: flex;
    flex-direction: column;
    flex: 1 1 800px;
  }
  .sidebar-scroller {
    height: 100%;
    overflow: hidden auto;
    width: 350px;
  }
  .sidebar-group {
    padding: 15px;
  }
  .sidebar-group-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
    margin-left: 14px;
  }
  .sidebar-btn {
    background: transparent;
    border: none;
    border-radius: 3px;
    display: block;
    padding: 10px 14px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: #fff;
  }
  .sidebar-btn:not(:last-child) {
    margin-bottom: 5px;
  }
  .sidebar-btn:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  .sidebar-btn.active {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 800px;
  }
  .content-scroller {
    height: 100%;
    overflow: hidden auto;
    padding: 15px;
  }
  
  .content h1 {
    margin-top: 0;
  }
  .content p {
    margin-bottom: 50px;
  }
  .content-box {
    background: #222;
    height: 500px;
    margin-bottom: 15px;
  }



html, body {
    height: 100%;
}

.characterBackground {
    background: url(/static/img/characterBackground.svg);
    background-size: cover;
}

.auth-container {
    align-items: center;
    flex-direction: column;
    background-color: #36393f;
    

    border-radius: 10px 10px 10px 10px;
    position: relative;
    padding: 40px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.friends-list a {
   text-decoration: none;
}

.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.avatar-small {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.ptop {
    padding-top: 20px;
}

.pbot {
    padding-bottom: 20px;
}

.pleft {
    padding-left: 05px;
}

span.emoji {
    font-size: 60px;
    
}

.logout {
    font-size: 30px;
    padding-left: 20px;
}

.conversationContent {
   height: 250px;
   overflow:auto;
}

.serverContent {
  height: 440px;
  overflow:auto;
}

.messageContent {
    height: 650px;
    overflow:auto;
}

.channelContent {
    height: 350px;
    overflow:auto;
}

.footer{
    color: #6A6E71;
}
  
.deleteMessage{
    background:none; 
    border:none; 
    outline: none; 
    color: red;

}

.delete {
    margin-left: -600px;
}

